<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>events.log</File>
    <encoder>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} {%thread} %-5level %logger{36} - msg%n %p %t %c - %m%n</Pattern>
    </encoder>
  </appender>
  <logger name="com.github.sakuramatrix.p1-lanchipham.domain.App" />
  <logger name="log" />
  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>